.error {
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #151280;
  }
.Signin {
  color: #151280;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #282683;
  border-color: #151280;
  background-color: #fff;
}
.Bichwer {
  color: #151280;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid black;
  border-color: #282683;
  background-color: #fff;
}
.Bichwer:hover {
  color: #fff;
  background-color: #151280;
}